<?xml version="1.0" encoding="ISO-8859-1"?> 
<Settings>
	<Version>0.4</Version>
	<!-- Version : The version value must be identical to the one located in the Set-EnvVariablesXml.Config  -->
	<LineConfigurationFile path = "\\RKAMPPS01SCCM\Software\Applications\ServerConfiguration\LineConfiguration.xml" />
	<!-- ConfigFiles Path: Specify the ROOT of the location of the config files for the different lines.-->
	<LogFolder Path= $($SLShare) />
	<!-- LogFolder Path: Specify "Root" if the logs should be set in the same folder as the script location. Otherwise a UNC path is required to a log folder.-->
	<Registry Path= "HKLM:\SYSTEM\ROCHE\" />
	<!--Registry path : Specify the registry location-->
</Settings>